 @media (min-width: 319px) and (max-width: 767px){
    
    .navbar-collapse{
        width: 95%;
    }
    h1,h2{
        font-size: 2.8em;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 20%;
    }
    .carousel-control .fa-angle-right,.carousel-control .fa-angle-left{
        margin-top: 60px;

    }
}

  @media only screen and (min-width:768px) and (max-width:992px){
    
  }
  
  @media only screen and (min-width:993px) and (max-width:1280px){
    
  }