/*servicios home*/
.bordeTituloBox_1{
    padding: 4% 1%;
    height: 50px;
    text-align: center;
}
/*CUADRO PRIMERO*/
.cuadro_intro_hover_primero{
    /* padding: 0px; */
    position: relative;
    overflow: hidden;
    height: 517px;
}
.cuadro_intro_hover_primero:hover .caption{
    opacity: 1;
    transform: translateY(-465px);
    -webkit-transform:translateY(-465px);
    -moz-transform:translateY(-465px);
    -ms-transform:translateY(-465px);
    -o-transform:translateY(-465px);
}
.cuadro_intro_hover_primero img{
    z-index: 4;
    width: 100%;
    height: 515px;
}
.cuadro_intro_hover_primero .caption{
    position: absolute;
    top:465px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    width: 100%;
}
.cuadro_intro_hover_primero .blur {
    height: 515px;
    z-index: 5;
    position: absolute;
    width: 100%;
}
.cuadro_intro_hover_primero .caption-text {
    z-index: 10;
    position: absolute;
    height: 300px;
    top: -20px;
    width: 100%;
    color: #fff;
    font-size: 1.3em;
    font-weight: 300;
}

/*CUADROS SECUNDARIOS*/
.cuadro_intro_hover{
    /* padding: 0px; */
    position: relative;
    overflow: hidden;
    height: 250px;
}
.cuadro_intro_hover:hover .caption{
    opacity: 1;
    transform: translateY(-200px);
    -webkit-transform:translateY(-200px);
    -moz-transform:translateY(-200px);
    -ms-transform:translateY(-200px);
    -o-transform:translateY(-200px);
}
.cuadro_intro_hover img{
    z-index: 4;
    width: 100%;
    height: 250px;
}
.cuadro_intro_hover .caption{
    position: absolute;
    top:200px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    width: 100%;
}
.cuadro_intro_hover .blur {
    height: 300px;
    z-index: 5;
    position: absolute;
    width: 100%;
}
.fondo-verde{
    background-color: rgba(136, 171, 37, 0.8);
}
.fondo-amarillo{
    background-color: rgba(249, 185, 38, 0.8);
}
.fondo-naranja{
    background-color: rgba(255, 145, 0, 0.8);
}
.fondo-azul{
    background-color: rgba(44, 98, 125, 0.8);
}
.fondo-gris{
    background-color: rgba(46, 46, 46, 46);
}
.cuadro_intro_hover .caption-text {
    z-index: 10;
    position: absolute;
    height: 300px;
    top: -20px;
    width: 100%;
    color: #fff;
    font-size: 1.3em;
    font-weight: 300;
}

